// app global css
body {
  background: #f5f6fa;
}

.q-page {
  background: #f5f6fa;
}

.q-card {
  border-radius: 12px;
}

.q-field--outlined .q-field__control {
  border-radius: 8px;
}

.q-btn {
  border-radius: 8px;
  font-weight: 600;
}
